<div class="card">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <h5 class="card-header">Employees</h5>
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" (blur)="logValidationErrors()" placeholder="" />
                        <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" (blur)="logValidationErrors()" placeholder="" />
                        <mat-error *ngIf="formErrors.lastName">{{ formErrors.lastName }}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Favorite Food</mat-label>
                        <!-- <mat-select>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                              {{food.viewValue}}
                            </mat-option>
                          </mat-select> -->

                          <mat-select placeholder="Favorite Food" #singleSelect>
                            <mat-option>
                              <ngx-mat-select-search></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                          </mat-select>
                        <!-- <mat-error *ngIf="formErrors.lastName">{{ formErrors.lastName }}</mat-error> -->
                    </mat-form-field>
                </div>
            </div>

        </div>
        <div class="card-footer text-right">
            <button mat-button (click)="showModal('Hello!')" class="btn btn-danger" type="button">
                <mat-icon>arrow_back</mat-icon>
                <span class="ml-1">Cancel</span>
            </button>
            <button mat-button class="btn btn-success ml-2" type="submit">
                <mat-icon>save</mat-icon>
                <span class="ml-1">Save</span>
            </button>
        </div>
    </form>
</div>

<div class="card mt-4">
        <h5 class="card-header">List Async</h5>
        <div class="card-body">

            <mat-form-field>
                <input matInput #userInput placeholder="Filter" />
            </mat-form-field>
    
            <div class="mat-elevation-z5">
                <!-- <div *ngIf="userDataSource.loading | async" style="display: flex; justify-content: center; align-items: center">
                    <mat-spinner></mat-spinner>
                </div> -->
                

                <table mat-table matSort matSortDisableClear matSortActive="id" matSortDirection="asc" [dataSource]="userDataSource">
            
                    <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
            
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
                </table>

                <mat-paginator [length]="userDataSource.length" [pageSize]="userDataSource.pageSize" [pageSizeOptions]="userDataSource.pageSizeOptions" [showFirstLastButtons]="true"></mat-paginator>
                  
            </div>
    
        </div>
    </div>

<div class="card mt-4">
    <h5 class="card-header">List</h5>
    <div class="card-body">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    
        <div class="mat-elevation-z5">
            <table mat-table matSort [dataSource]="dataSource">
        
                <!--- Note that these columns can be defined in any order.
                                                              The actual rendered columns are set as a property on the row definition" -->
        
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
        
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
        
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>
        
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
            </table>
            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>

    </div>
    <div class="card-footer text-right"></div>
</div>

<ng-template appPlaceholder></ng-template>
<!-- <div class="card-footer text-right">
        <button class="btn btn-danger pb-0" type="button">
            <mat-icon>arrow_back</mat-icon>
            <span class="align-top ml-1">Cancel</span>
        </button>
        <button class="btn btn-success pb-0 ml-2" type="submit">
            <mat-icon>save</mat-icon>
            <span class="align-top ml-1">Save</span>
        </button>
    </div> -->