<div class="wrapper">

    <nav id="sidebar" [class.active]="toggleSideBar">

        <div class="sidebar-header">
            <h3>{{ appName }}</h3>
        </div>

        <ul class="list-unstyled components">

            <p class="mb-0">{{ accountInfo?.fullName }}</p>
            <p class="email-title">{{ accountInfo?.email }}</p>

            <div class="menu-scrollbar">
                <li routerLinkActive="active">
                    <a routerLink="/home">Home</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/clients">Clients</a>
                </li>
                <li>
                    <a href="#testSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tests</a>
                    <ul class="collapse list-unstyled" id="testSubmenu">
                        <li>
                            <a href="#testSelectSubLevel" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Selects</a>
                            <ul class="collapse list-unstyled" id="testSelectSubLevel">
                                <li>
                                    <a routerLink="/tests/ngx-simple-select">Simple Select</a>
                                </li>
                                <li>
                                    <a routerLink="/tests/ngx-server-select">Server Select</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accounts
                        Receivable</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#subLevel" data-toggle="collapse" aria-expanded="false"
                                class="dropdown-toggle">Service
                                Processing</a>
                            <ul class="collapse list-unstyled" id="subLevel">
                                <li>
                                    <a href="#">Enter & View Credit Memos</a>
                                </li>
                                <li>
                                    <a href="#">View Closed Credit Memos</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/home2">Not Found</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
                <li>
                    <a href="#">Item</a>
                </li>
            </div>

        </ul>

        <div class="pb-3 text-center">
            <button mat-button (click)="logout()" class="btn btn-info pl-5 pr-5" type="button">
                <mat-icon>power_settings_new</mat-icon>
                <span class="ml-1">Log out</span>
            </button>
        </div>

    </nav>

    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button id="sidebarCollapse" (click)="onToggleSideBar()" class="btn btn-info pb-0" type="button">
                    <i class="pr-1"><mat-icon>format_align_left</mat-icon></i>
                    <span class="align-top">Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto pb-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- <li class="nav-item active"> -->
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer">Option 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer">Option 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer" (click)="logout()">Log out</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

        <router-outlet></router-outlet>

    </div>

</div>
