<router-outlet></router-outlet>
<ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-spin" [fullScreen]="true">
    <p style="font-size: 18px; color: white">Loading...</p>
</ngx-spinner>