/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import url('https://fonts.googleapis.com/css?family=Numans'); */

html, body {
	height: 100%;
	/* font-family: 'Numans', sans-serif; */
}

table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

ngx-spinner .overlay {
	position: fixed !important;
}

/* .mat-row:nth-child(even) {
	background-color:gray;
}

.mat-row:nth-child(odd) {
	background-color:white;
} */

/* mat-form-field.mat-form-field {
	font-size: 16px;
  } */

/* .toast-close-button {
    font-size: 15px !important;
} */

.cursor-pointer {
	cursor: pointer;
}
