<div class="card">
        <form (ngSubmit)="onSubmit()">
            <h5 class="card-header">Server selection</h5>
            <div class="card-body">
    
                <div class="row">
                    <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>User</mat-label>
                            <mat-select [formControl]="bankServerSideCtrl" placeholder="Select a User" #serverSelect>
                                <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
                                <!-- [noEntriesFoundLabel]="'No matching item found'" -->
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="bankServerSideFilteringCtrl" [searching]="isSelectFetchingData" [noEntriesFoundLabel]="''" [placeholderLabel]="'Search'"></ngx-mat-select-search>
                                </mat-option>
                    
                                <mat-option *ngFor="let bank of filteredServerSideBanks | async" [value]="bank">
                                    {{bank.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <p>
                            Selected User: {{bankServerSideCtrl.value?.id}}
                        </p>    
                    </div>
                </div>
    
            </div>
            <div class="card-footer text-right">
                <!-- <button mat-button (click)="showModal('Hello!')" class="btn btn-danger" type="button">
                    <mat-icon>arrow_back</mat-icon>
                    <span class="ml-1">Cancel</span>
                </button>
                <button mat-button class="btn btn-success ml-2" type="submit">
                    <mat-icon>save</mat-icon>
                    <span class="ml-1">Save</span>
                </button> -->
            </div>
        </form>
    </div>