<div class="card">
    <form (ngSubmit)="onSubmit()">
        <h5 class="card-header">Single selection</h5>
        <div class="card-body">

            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Bank</mat-label>
                        <mat-select [formControl]="bankCtrl" placeholder="Select a Bank" #singleSelect>
                            <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
                            <mat-option>
                                <ngx-mat-select-search [formControl]="bankFilterCtrl" [placeholderLabel]="'Search'" [noEntriesFoundLabel]="''"></ngx-mat-select-search>
                            </mat-option>
                
                            <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                                {{bank.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>
                        Selected Bank: {{bankCtrl.value?.id}}
                    </p>    
                </div>
            </div>

        </div>
        <div class="card-footer text-right">
            <!-- <button mat-button (click)="showModal('Hello!')" class="btn btn-danger" type="button">
                <mat-icon>arrow_back</mat-icon>
                <span class="ml-1">Cancel</span>
            </button>
            <button mat-button class="btn btn-success ml-2" type="submit">
                <mat-icon>save</mat-icon>
                <span class="ml-1">Save</span>
            </button> -->
        </div>
    </form>
</div>