<div (click)="onClose()" class="backdrop"></div>
<div class="alert-box">
    <p>{{ message }}</p>
    <div class="alert-box-actions">
        <button (click)="onClose()" class="btn btn-primary" type="button">Close</button>
    </div>
</div>