
.login-container {
	/* background-image: url('https://cdn.pixabay.com/photo/2016/06/17/06/04/background-1462755_960_720.jpg'); */
	background-color: #47748b;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	align-content: center;
}

.login-card {
	/* height: 360px; */
	/* height: 415px; */
	height: 290px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 15px;
}

.card-header h3 {
	color: white;
}

.input-group-prepend span {
	width: 50px;
	background-color: #FFC312;
	color: black;
	border: 0 !important;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember, .forgot {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #FFC312;
	width: 100px;
	font-weight: 500;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}
