<div class="login-container">
  <div class="d-flex justify-content-center h-100">
    <div class="login-card">
      <div class="card-header">
        <!-- <h3>Sign In</h3> -->
        <img class="img-fluid" src="../assets/images/login.png" />
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <mat-icon>person</mat-icon>
              </span>
            </div>
            <input formControlName="userName" type="text" class="form-control" placeholder="Username">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <mat-icon>vpn_key</mat-icon>
              </span>
            </div>
            <input formControlName="password" type="password" class="form-control" placeholder="Password">
          </div>
          <!-- <div class="row align-items-center remember">
            <input type="checkbox">Remember Me
          </div> -->
          <!-- <div class="input-group form-group">
            <a class="forgot" href="#">Forgot your password?</a>
          </div> -->
          <div class="form-group text-right">
            <!-- <input type="submit" value="Log In" class="btn float-right login_btn"> -->
            <button mat-button class="btn login_btn" type="submit">
              <mat-icon>exit_to_app</mat-icon>
              <span class="ml-1">Log In</span>
            </button>
          </div>
        </form>
      </div>
      <!-- <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div> -->
    </div>
  </div>
</div>
